div.alexa{
  width: 100%;
  padding: 5px;
}

div.answer{
  background-color: #fff56d;
  padding: 5px;
  text-align: center;
}



h1.white-title{
  font-family: 'Convergence', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 80px;
  color: #ffffcc;

}

h4.black-alexa{
  font-family: 'Raleway', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}

h4.black-answer{
  font-family: 'Raleway', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}



.left{
  left: 0px;
}

html{
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

body{
  height: auto;

  background-image: url("kitchen_image2.jpg");
}

header{
  background-image: url("kitchen_image.jpg");

  background-size: cover;
  background-size: 100%;
}

.white-title{
  font-family: 'Convergence', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 80px;
  color: #ffffff;
}

.white-normal{
  font-family: 'Convergence', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 40px;
  color: #ffffff;
}

.left{
  left: 0px;
}

body{
  padding: 50px;
  color: rgba(0,0,0,0.7);
  background-image: url("kitchen_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

html{

}

.trigger{
  width: 600px;
  height: 350px;
  border: 20px solid #999;
  background: #ddd;
}

.box{

  display: inline-block;
  background: #d2a679;
  width: 560px;
  height: 310px;

  transition: transform 300ms ease-in-out 250ms;
  pointer-events: none;
}

.trigger:hover .box{
  transform: translate(500px);

}

footer{

  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 5px;
}